<h1>Examen Octubre 2025</h1>

<div *ngIf="isCorregido" class="resultado">
  <h3>Total de aciertos: {{ totalAciertos }} / 80</h3>
</div>

<div class="botonera">
  <button *ngIf="!isStarted" (click)="empezarExamen()" class="btn-empezar">
    Empezar examen
  </button>

  <div *ngIf="isStarted" class="timer">
  Tiempo restante: {{ tiempoFormateado }}
</div>

  <button
    *ngIf="isStarted"
    (click)="corregirCuestionarios()"
    class="btn-corregir"
    [disabled]="isCorregido"
  >
    {{ isCorregido ? 'Corregido' : 'Corregir' }}
  </button>
</div>

<ng-container *ngIf="isStarted">
  <div class="accordion" *ngFor="let tema of temas">
    <app-accordion [title]="tema.tema">
      <app-cuestionario
        [questions]="tema.preguntas"
        [enunciadoTema]="tema.enunciadoTema"
        [isCorregido]="isCorregido"
        (onAciertos)="actualizarAciertos($event)"
      ></app-cuestionario>
    </app-accordion>
  </div>
</ng-container>



