.accordion {
  width: 80%;
  margin: auto;
}
h1{
  text-align: center;
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-corregir {
  margin: 15px 0;
  padding: 10px 20px;
  background-color: cornflowerblue;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn-corregir:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
