<div class="enunciadoTema">{{enunciadoTema}}</div>
<div class="cuestionario-container" *ngFor="let question of questions">
  <div class="pregunta">
    <div class="enunciado">
      <p>{{ question.id }}. {{ question.enunciado }}</p>
    </div>

    <div
      class="respuesta"
      *ngFor="let option of question.respuestas"
      (click)="selectAnswer(question.id, option)"
      [style.background-color]="
        selectedAnswers[question.id] === option
          ? option === question.respuestaCorrecta
            ? 'darkturquoise'
            : 'red'
          : 'white'
      "
    >
      {{ option }}
    </div>
  </div>
</div>
