

.cuestionario-container{


  display: flex;
  flex-direction: column;
  gap: 10px;

}


.pregunta{

background-color: lightblue;
  padding: 5px 15px;
  border: black solid 3px;
  border-radius: 15px;
  margin: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enunciado{
  font-weight: 500;
  
}

.respuesta{
    margin: 10px 20px;
    border-radius: 20px;
    border: solid 2px black;
    padding: 10px;
}

.enunciadoTema{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 15px;
}