

.cuestionario-container{


  display: flex;
  flex-direction: column;
  gap: 10px;

}


.pregunta{

background-color: lightblue;
  padding: 5px 15px;
  border: black solid 3px;
  border-radius: 15px;
  margin: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enunciado {
  font-weight: bold;
  margin-bottom: 10px;
}

.respuesta {
  border: 1px solid #ccc;
  margin: 4px 0;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.respuesta:hover {
  opacity: 0.85;
}

.enunciadoTema{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 15px;
}