.accordion-section {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  color: aliceblue;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arrow-down {
  transform: rotate(180deg);
}

.arrow-right {
  transform: rotate(0deg);
}

.accordion-content {
  padding: 10px;
}
